<?xml version="1.0" encoding="utf-8"?>
<configuration>
<connectionStrings><add name="ItineraryPlannerEntities" connectionString="metadata=res://*/IP_Model.csdl|res://*/IP_Model.ssdl|res://*/IP_Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=ItineraryPlanner;integrated security=True;encrypt=False;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>